{% extends "base.html" %} {% block content %}
<div class="max-w-sm mx-auto py-6">
  <h2 class="text-center text-2xl font-bold mb-6">Login</h2>
  <form method="post" action="{% url 'accounts:login' %}" class="text-center">
    {% csrf_token %} {{ form.as_p }}
    <button
      type="submit"
      class="hover:underline hover:bg-slate-800 bg-blue-700 text-gray-200 p-2 rounded mb-8 mt-4"
    >
      Login
    </button>
  </form>
  <p class="mt-4 text-center">
    Don't have an account?
    <a
      href="{% url 'accounts:register' %}"
      class="hover:underline hover:bg-slate-800 bg-blue-700 text-gray-200 p-2 rounded mb-8"
      >Sign up</a
    >
  </p>
</div>
{% endblock %}
