{% extends "base.html" %} {% block content %}
<div class="max-w-sm mx-auto py-6">
  <h1>You have been logged out!! Click below to login or register.</h1>
  <h2 class="text-center text-2xl font-bold mb-6">Login</h2>
  <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %} {{ form.as_p }}
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Login
    </button>
  </form>
  <p class="mt-4 text-center">
    Don't have an account?
    <a
      href="{% url 'accounts:register' %}"
      class="text-blue-500 hover:text-blue-800"
      >Sign up</a
    >
  </p>
</div>
{% endblock %}
