<!-- This page shows the events that the current user is signed up for -->
{% extends 'base.html' %} {% block content %}
<div
  class=""
>
  <h1 class="text-2xl font-bold mb-4">
    You're Registered for these events:
  </h1>
  {% if events %}
  <ul class="flex flex-col justicy-center items-center">
    {% for event in events %}
    <li
      class="mb-4 p-10 bg-slate-300 rounded flex flex-col justicy-center items-center"
    >
      <p>Event Name: {{ event.name }}</p>
      <br />
      <p>Date: {{ event.date }}</p>
      <br />
      <p>Location: {{ event.location }}</p>
      <br />
      
      <form
        action="{% url 'events:unregister' pk=event.pk %}"
        method="post"
        style="display: inline"
      >
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-danger hover:bg-slate-800 bg-blue-700 text-gray-200 p-2 rounded"
          onclick="return confirm('Are you sure you want to Un-register for this event?');"
        >
          Unregister
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You have not registered for any events.</p>
  {% endif %}
</div>
{% endblock %}
