
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Book your next event with us! {%endblock title%}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/d2e78ba9e6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-slate-900 text-gray-200">
    <div class="p-4 flex flex-col">
      <div class="flex justify-between items-center flex-row">
        {% block welcome %}
        <h1 class="text-3xl">Welcome to SoundScape's 2024 Events!</h1>
        {% endblock welcome%}
        <div>
          <nav class="hidden md:flex space-x-4 menu">
            <a
              href="{% url 'events:event_list' %}"
              class="hover:underline hover:bold"
              >Events List</a
            >
            <a
              href="{% url 'events:registered_events' %}"
              class="hover:underline hover:bold"
              >My Registered Events</a
            >
            <a href="{% url 'accounts:reports' %}" class="hover:underline"
              >Reports</a
            >
            {% if user.is_authenticated %}

            <a href="{% url 'accounts:logout' %}" class="hover:underline"
              >Logout</a
            >
            <p>Welcome, {{ user.username }}!</p>
            <p>Your role: {{ user.groups.all|join:" " }}</p>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="hover:underline"
              >Login</a
            >
            <a href="{% url 'accounts:register' %}" class="hover:underline"
              >Sign Up</a
            >
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
    <hr class="border-2" />

    <div id="content">{% block content %} {% endblock content %}</div>
  </body>
</html>
